<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Casaluxe</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/svg+xml" href="/imgs/images/armchair-svgrepo-com.svg" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/css/plugins/ion.rangeSlider.min.css" />
    

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/style.min.css" />
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                      
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                           

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="login" ><i class="pe-7s-user"></i></a>

                            
                        </div>
                        <a class="action" href="/wishlist"><i class="pe-7s-like"></i></a>

                        <div class="dropdown">
                            <a onclick="" id="getcartbutton" id="carticon" class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-shopbag"></i>
                               
                                <span id="cartItemNumber"  class="number">0</span>
                            </a>

                            <div class="dropdown-menu dropdown-cart rounded">
                                <div class="cart-content rounded" id="cart-content">
                                    <ul id="cartIconUl">

                                    </ul>
                                </div>
                                <div id="noItemsDiv" class="align-content-center text-center">
                                    <div class="empty-cart-title">
                                        There are no more items in your cart
                                    </div>
                                    <div class="efmpty-cart-img">
                                        <img height="20px" width="20px" src="/imgs/images/cart.png" alt="Cart" />
                                    </div>
                                    <p>Your cart is currently empty!</p>
                                    <a href="/shop" class=" btn-success p-2"><i class="fa fa-angle-left"></i> Continue
                                        browsing</a>
                                </div>

                                <div id="cartPriceDiv" style="display: none;" class="cart-price">
                                    <div class="cart-subtotals">
                                        <div class="price-inline">
                                            <span class="label">Subtotal</span>
                                            <span id="subtotal" class="value"></span>
                                        </div>
                                        <div class="price-inline">
                                            <span class="label">Discount</span>
                                            <span id="discountsTotal" class="value"></span>
                                        </div>
                                    </div>
                                    <div id="cartTotal">
                                        <div class="price-inline">
                                            <span class="label">Total</span>
                                            <span id="totalprice" class="value"></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="checkoutButton" style="display: none;" class="checkout-btn">
                                    <a href="/cart" class="btn btn-dark btn-hover-primary d-block">Go to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    
    <div id="notification" class="notification"> 
     </div>
    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="/login"><i class="pe-7s-user"></i></a>

                                
                            </div>
                            <div class="dropdown">
                                <a onclick="" id="getcartbutton" id="carticon" class="action" href="#" role="button" data-bs-toggle="dropdown">
                                    <i class="pe-7s-shopbag"></i>
                                   
                                    <span id="cartItemNumber"  class="number">0</span>
                                </a>
    
                                <div class="dropdown-menu dropdown-cart rounded">
                                    <div class="cart-content rounded" id="cart-content">
                                        <ul id="cartIconUl">
    
                                        </ul>
                                    </div>
                                    <div id="noItemsDiv" class="align-content-center text-center">
                                        <div class="empty-cart-title">
                                            There are no more items in your cart
                                        </div>
                                        <div class="efmpty-cart-img">
                                            <img height="20px" width="20px" src="/imgs/images/cart.png" alt="Cart" />
                                        </div>
                                        <p>Your cart is currently empty!</p>
                                        <a href="/shop" class=" btn-success p-2"><i class="fa fa-angle-left"></i> Continue
                                            browsing</a>
                                    </div>
    
                                    <div id="cartPriceDiv" style="display: none;" class="cart-price">
                                        <div class="cart-subtotals">
                                            <div class="price-inline">
                                                <span class="label">Subtotal</span>
                                                <span id="subtotal" class="value"></span>
                                            </div>
                                            <div class="price-inline">
                                                <span class="label">Discount</span>
                                                <span id="discountsTotal" class="value"></span>
                                            </div>
                                        </div>
                                        <div id="cartTotal">
                                            <div class="price-inline">
                                                <span class="label">Total</span>
                                                <span id="totalprice" class="value"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="checkoutButton" style="display: none;" class="checkout-btn">
                                        <a href="/cart" class="btn btn-dark btn-hover-primary d-block">Go to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input id="searchnput" oninput="search(this.value)" type="text" placeholder="Enter your search key ... " />

                        <button><i class="pe-7s-search"></i></button>
                        <ul class="list-group" id="SearchResults">
                        </ul>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header">
            <!-- Canvas Action Start -->    
            <div class="canvas-action">
                <a class="action" href="/cart"><i class="icon-sliders"></i> Cart
                    <span class="action-num"></span></a>
                <a class="action" href="/wishlist"><i class="icon-heart"></i> Wishlist
                    <span class="action-num"></span></a>
            </div>
            <!-- Canvas Action end -->

            <!-- Canvas Close bar Start -->
            <div class="canvas-close-bar">
                <span>Menu</span>
                <button class="menu-close" data-bs-dismiss="offcanvas">
                    <i class="pe-7s-angle-left"></i>
                </button>
            </div>
            <!-- Canvas Close bar End -->
        </div>

        <div class="offcanvas-body">
            <!-- Canvas Menu Start -->
            <div class="canvas-menu">
                <nav>
                    
                </nav>
            </div>
            <!-- Canvas Menu End -->
        </div>
    </div>
    <!-- off Canvas End -->
<main id="content"><!-- Slider Section Start -->
  <div class="section slider-section">
      <div class="slider-shape"></div>

      <div class="container">
          <div class="slider-active">
              <div class="swiper-container">
                  <div class="swiper-wrapper">

                      <!-- Single Slider Start  -->
                      <div class="single-slider swiper-slide animation-style-01">
                          <!-- Slider Content Start -->
                          <div class="slider-content">
                              <h2 class="title">
                                  New Stylish <br />
                                      Decore Furnitures
                              </h2>
                              <p>
                                  Unique Furniture Style Design for Your
                                  Family
                              </p>
                              <a href="/shop" class="btn btn-primary btn-hover-dark btn-margin">Shop now</a>
                          </div>
                          <!-- Slider Content End -->

                          <!-- Slider images Start -->
                          <div class="slider-images">
                              <img src="/imgs/images/slider/slider-item-2.png" width="707" height="477" alt="Slider" />
                          </div>
                          <!-- Slider images End -->
                      </div>
                      <!-- Single Slider End  -->

                  </div>
            
              </div>
          </div>
      </div>
  </div>
  <!-- Slider Section End -->

  <!-- Banner Section Start -->
  <!-- <div class="section section-padding-02">
      <div class="container">
         
          <div class="banner-wrapper">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="single-banner">
                          <img src="/imgs/images/banner/banner-01.jpg" width="370" height="245" alt="Banner" />

                          <div class="banner-content">
                              <h3 class="title">
                                  <a href="shop-grid-4-column.html">New Ruben Teak <br />
                                          Sideboard</a>
                              </h3>
                              <span class="discount">30% Off</span>
                              <a class="btn btn-primary btn-hover-dark" href="shop-grid-4-column.html">Shop Now</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-banner">
                          <img src="/imgs/images/banner/banner-02.jpg" width="370" height="245" alt="Banner" />

                          <div class="banner-content content-02">
                              <h3 class="title">
                                  <a href="shop-grid-4-column.html">New Reversible <br />
                                          Sofa</a>
                              </h3>
                              <span class="discount">30% Off</span>
                              <a class="btn btn-primary btn-hover-dark" href="shop-grid-4-column.html">Shop Now</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                      <div class="single-banner">
                          <img src="/imgs/images/banner/banner-03.jpg" width="370" height="245" alt="Banner" />

                          <div class="banner-content">
                              <h3 class="title">
                                  <a href="shop-grid-4-column.html">New Lamp Light <br />
                                          Collection</a>
                              </h3>
                              <span class="discount">30% Off</span>
                              <a class="btn btn-primary btn-hover-dark" href="shop-grid-4-column.html">Shop Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Banner Section End -->
  
  <!-- New Product Section Start -->

      
             <h2 class="text-center mb-5">Shop by category </h2>
             <div class="container-fluid">
              <div class="row">
                  <div class="col">
                      <div class="overflow-auto">
                          <ul class="list-unstyled d-flex justify-content-around">
                              <% for (let index = 0; index < categories.length; index++) { %>
                              <li class="me-3 text-nowrap"> 
                                  <a class="font-weight-bold text-primary text-hover-success" href="/category/<%= categories[index]._id %>">
                                      <h4 class="mb-3 fw-light" data-animate="fadeInUp" style="overflow: hidden;"><%= categories[index].name %></h4>
                                  </a>
                              </li>
                              <% } %>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="section section-padding">
              
           
      <div class="container">
          <!-- Product Section Wrapper Start -->
          <div class="product-section-wrapper">
              <div class="row justify-content-center">
                  <div class="col-lg-3 col-md-6">
                      <!-- Single Banner Start -->
                      <div class="single-banner-02">
                          <img src="/imgs/images/banner/banner-04.jpg" width="270" height="429" alt="Banner" />

                          <div class="banner-content">
                              <h3 class="title">
                                  <a href="/shop">All New Furniture</a>
                              </h3>
                              <span class="discount">40% Off</span>
                              <a class="btn btn-primary btn-hover-dark" href="/shop">Shop Now</a>
                          </div>
                      </div>
                      <!-- Single Banner End -->
                  </div>
                  <div class="col-lg-9">
                      <!-- Product Wrapper Start -->
                      <div class="product-wrapper product-active">
                          <!-- Product Top Wrapper Start -->
                          <div class="product-top-wrapper">
                              <!-- Section Title Start -->
                              <div class="section-title order-md-1">
                                  <h2 class="title"># New Products</h2>
                              </div>
                              <!-- Section Title End -->

                          
                              
                          </div>
                          <!-- Product Top Wrapper End -->

                          <!-- Product Tabs Content Start -->
                          <div class="product-tabs-content">
                              <div class="tab-content">
                                  <div class="tab-pane fade show active" id="tab1">
                                      <div class="swiper-container">
                                          <div class="swiper-wrapper">
                                              <% const currentDate = new Date(); %>
<% const tenDaysAgo = new Date(currentDate); %>
<% tenDaysAgo.setDate(currentDate.getDate() - 5); %>

                                              <% for( let index = productdata.length-1; index >= productdata.length-4; index-- ) { %>  

                                              <div class="swiper-slide">
                                                  <!-- Single Product Start -->
                                                      <div class="single-product">
                                                          <% if (productdata[index].stock<10 && productdata[index].stock!== 0  ) { %>
                                                              <span  class="stock-tag">Only <%= productdata[index].stock %> left !!</span>
                                                          <% } %>
                                                          <% const productDate = new Date(productdata[index].date); %>
                                                          <% if (productDate >= tenDaysAgo) { %>
                                                              <span  class="day-tag">New</span>
                                                          <% } %>
                                                          <% if (productdata[index].stock==0) { %>
                                                              <span  class="stock-tag">No stock !!</span>
                                                          <% } %>
                                                          <a href="/product/<%= productdata[index].id %>"><img src="/imgs/uploads/<%= productdata[index].image[0]%>" width="270" height="303" alt="product" /></a>
                                                          <div class="product-content">
                                                              <h4 class="title">
                                                                  <a href="/product/<%= productdata[index].id %>"><%= productdata[index].name %></a>
                                                              </h4>
                                                              <div class="text-danger " style="font-size: x-small;" id="errornumber"></div>
                                                                  <input min="1" hidden  class="form-control" id="count<%= productdata[index]._id %>" type="number" value="1" />
                                                              <div class="price">
                                                                  <span
                                                                          class="sale-price"
                                                                          ><%= productdata[index].price.toFixed(2) %></span>
                                                              </div>
                                                          </div>
                                                          <ul class="product-meta">
                                                      
                                                              <li>
                                                                  <a  onclick="addtocart('<%= productdata[index]._id %>')" class="action" title="Add to cart"><i
                                                                      class="pe-7s-shopbag"
                                                                  ></i></a>
                                                              </li>
                                                              <li>
                                                                  <a  onclick="addtowishlist('<%= productdata[index]._id %>')" class="action" title="Add to wishlist"><i
                                                                      class="pe-7s-like"
                                                                  ></i></a>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  <!-- Single Product End -->
                                              </div>
                                              <% } %>
                                              
                                          </div>
                                      </div>
                                  </div>
                                  
                                  
                              </div>
                          </div>
                          <!-- Product Tabs Content End -->
                      </div>
                      <!-- Product Wrapper End -->
                  </div>
              </div>
          </div>
          <!-- Product Section Wrapper End -->
      </div>
  </div>
  <!-- New Product Section End -->

   <!-- Product Banner Section Start -->
   <div class="section">
      <div class="products-banner products-banner-active">
          <div class="swiper-container">
              <div class="shop-sort">
                  <h2 class="text-center mb-5">Shop by roomtype </h2>
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col">
                              <div class="overflow-auto">
                                  <ul class="list-unstyled list-group list-group-horizontal gap-3 justify-content-around">
                                      <% for (let index = 0; index < roomtype.length; index++) { %>
                                      <li class="col-lg-auto col-md-6 col-sm-12">
                                          <a class="font-weight-bold text-primary text-hover-success mb-0 text-nowrap" href="/roomtype/<%= roomtype[index]._id %>">
                                              <h4 class="mb-3 fw-light" data-animate="fadeInUp"><%= roomtype[index].name %></h4>
                                          </a>
                                      </li>
                                      <% } %>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                   </div>
          </div>
      </div>
  </div>
  <!-- Product Banner Section End -->

  <!-- Sale Product Section Start -->
  <div class="section section-padding bg-color-01">
      <div class="container">
          
          <div class="product-active-02">
              
              <div class="product-tabs-content">
                  <div class="tab-content">
                    
                      <div class="tab-pane fade show active" id="tab8">
                          <div class="swiper-container">
                              <div class="swiper-wrapper">
                                  
                                  <% for( let index = 0; index < 4; index++ ) { %>  

                                  <div class="swiper-slide">
                                      <!-- Single Product Start -->

                                      <div class="single-product">
                                          <a href="#"> 
                                          <% if (productdata[index].stock<10 && productdata[index].stock!== 0 ) { %>
                                              <span  class="stock-tag">Only <%= productdata[index].stock %> left !!</span>
                                          <% } %>
                                          <% const productDate = new Date(productdata[index].date); %>
                                          <% if (productDate >= tenDaysAgo) { %>
                                              <span  class="day-tag">New</span>
                                          <% } %>
                                          <% if (productdata[index].stock==0) { %>
                                              <span  class="stock-tag">No stock !!</span>
                                          <% } %>
                                          
                                              
                                              <img src="/imgs/uploads/<%= productdata[index].image[0]%>" width="270" height="303" alt="product" /></a>
                                          <div class="product-content">
                                              <h4 class="title">
                                                  <a href="/product/<%= productdata[index].id %>"><%= productdata[index].name %></a>
                                              </h4>
                                              <div class="price">
                                                  <span class="sale-price"
                                                          ><%= productdata[index].price.toFixed(2) %></span>
                                              </div>
                                          </div>
                                     
                                          <input min="1" hidden  class="form-control" id="count<%= productdata[index]._id %>" type="number" value="1" />
                                     
                                          <ul class="product-meta">
                                             
                                              <li>
                                                  <a  onclick="addtocart('<%= productdata[index]._id %>')" class="action" title="Add to cart"><i
                                                      class="pe-7s-shopbag"
                                                  ></i></a>
                                              </li>
                                              <li>
                                                  <a  onclick="addtowishlist('<%= productdata[index]._id %>')" class="action" title="Add to wishlist"><i
                                                              class="pe-7s-like"
                                                          ></i></a>
                                              </li>
                                          </ul>
                                      </div>

                                      <!-- Single Product End -->
                                  </div>
                                  <% } %>

                                 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Product Tabs Content End -->
          </div>
          <!-- Product Wrapper End -->
      </div>
  </div>
  <!-- Sale Product Section End --></main>
  <div class="section footer-section">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-4">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <a href="/"><img src="/imgs/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Footer Logo End -->
                </div>
                <div class="col-xl-5 col-md-8">
                    <!-- Footer Contact & Payment End -->
                    <div class="footer-contact-payment d-flex justify-content-around">
                        <div class="footer-contact">
                            <div class="contact-icon">
                                <img src="/imgs/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                            </div>

                            <div class="contact-content">
                                <h6 class="title">Call Us:</h6>
                                <p>9495785815</p>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Footer Contact & Payment End -->
                </div>
                <div class="col-xl-5 d-flex align-items-center justify-content-end">
                  <div class="footer-payment">
                    <img src="/imgs/images/payment.png" width="192" height="21" alt="Payment" />
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Copyright End -->
    <div class="copyright">
        <div class="container">
            <div class="copyright-text">
                <p>
                    &copy; 2024 <span> Casaluxe </span>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->

<!--Back To Start-->
<button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
<!--Back To End-->
<!-- JS
============================================ -->

<!-- Modernizer & jQuery JS -->
<script src="/js/userJs/modernizr-3.11.2.min.js"></script>
<script src="/js/userJs/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="/js/plugins/popper.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>


<!-- Plugins JS -->
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.17/dist/sweetalert2.all.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/plugins/swiper-bundle.min.js"></script>
<script src="/js/plugins/ajax-contact.js"></script>
<script src="/js/plugins/odometer.min.js"></script>
<script src="/js/plugins/select2.min.js"></script>
<script src="/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/js/plugins/jquery.zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



<!-- Main JS -->
<script src="/js/userJs/cartUser.js"></script>
<script src="/js/userJs/walletUser.js"></script>
<script src="/js/userJs/orderUser.js"></script>
<script src="/js/userJs/addressUser.js"></script>
<script src="/js/userJs/signupUser.js"></script>
<script src="/js/userJs/mainfront.js"></script>


</body>


</html>