<%- include('header.ejs') %>

    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(/imgs/images/page-banner.jpg); height: 50%;">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">My Account</h2>

                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">My Account</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- My Account Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-3 col-md-4">
                    <!-- My Account Menu Start -->
                    <div class="my-account-menu">
                        <ul class="nav account-menu-list flex-column">
                            <li>
                                <a class="active" data-bs-toggle="pill" href="#pills-dashboard"><i class="fa fa-tachometer"></i>
                                    Dashboard</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-order"><i class="fa fa-shopping-cart"></i>
                                    Order</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill"   href="#pills-download"><i class="fa-solid fa-wallet"></i>
                                    My wallet</a>
                            </li>
                            <li>
                                <a id="editcollapse" style="display: none;" data-bs-toggle="pill" href="#pills-payment"><i class="fa fa-credit-card"></i>
                                    Payment Method</a>
                            </li> 
                            <li>
                                <a data-bs-toggle="pill" href="#pills-address"><i class="fa fa-map-marker"></i>
                                    Address</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-account"><i class="fa fa-user"></i> Account
                                    Details</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-sign-out"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- My Account Menu End -->
                </div>
                <div class="col-xl-9 col-md-8">
                    <!-- Tab content start -->
                    <div class="tab-content my-account-tab">
                        <div class="tab-pane fade show active" id="pills-dashboard">
                            <div class="my-account-dashboard account-wrapper">
                                <h4 class="account-title">Dashboard</h4>
                                <div class="welcome-dashboard">
                                    <p>
                                        Hello,
                                        <strong><%= userData.name %></strong> (If
                                        Not <strong><%= userData.name %> !</strong>
                                        <a href="/logout">Logout</a> )
                                    </p>
                                </div>
                                <p>
                                    From your account dashboard. you can
                                    easily check & view your recent orders,
                                    manage your shipping and billing
                                    addresses and edit your password and
                                    account details.
                                </p>
                                <p>Your referral code is : <span id="referralCode"><%= userData.referralCode %></span></p>
<button class="btn btn-hover-success" id="copyButton">Copy Referral Code</button>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-order">
                            <div class="my-account-order account-wrapper">
                                <h4 class="account-title">Orders</h4>
                                <% for( let index=0; index < order.length; index++ ) { %>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Order Id : <%= order[index].orderId %> | <%= order[index].orderdate.toLocaleDateString() %> | Status : <%= order[index].orderStatus %>
                                            </h5>
                                            <% order[index].items.forEach(item=> { %>
                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                    <div class="product-details">
                                                        <a href="/product/<%= item.product._id %>">
                                                            <img width="50px" height="50px" class="img img-thumbnail" src="/imgs/uploads/<%= item.product.image[0] %>" alt="">
                                                            <%= item.product.name %>
                                                        </a>
                                                    </div>
                                                    <% if (order[index].orderStatus === 'delivered') { %>
                                                        <div class="productRating" data-item-id="<%= item._id %>" data-rating="<%= item.rating !== undefined ? item.rating : 0 %>">
                                                        </div>
                                                    <% } %>
                                                    <div class="quantity-price">
                                                        <span>Quantity: <%= item.count %></span>
                                                        <span>Price: <%= (item.priceAfterDiscounts * item.count).toFixed(2) %></span>
                                                    </div>
                                                  
                                                </div>
                                            <% }); %>
                                            <% if (order[index].orderStatus === 'canceled' || order[index].orderStatus === 'returned') { %>
                                                <button style="background-color: #686868; color: #fff; font-size: 14px; border: none; padding: 8px 16px; border-radius: 4px;" type="button" class=" " disabled>Order <%= order[index].orderStatus %></button>
            
                                            <% } %>
                                            <% if (order[index].orderStatus !== 'canceled' && order[index].orderStatus !== 'returned' && order[index].orderStatus !== 'pending') { %>
                                                <a type="button" href="/invoice?id=<%= order[index]._id %>" style="background-color: #0f741e; color: #fff; font-size: 14px; border: none; padding: 8px 16px; border-radius: 4px;">Download Invoice</a>
                                            <% } %>
                                            <% if (order[index].orderStatus !== 'canceled' && order[index].orderStatus !== 'delivered' && order[index].orderStatus !== 'returned') { %>
                                                <button type="button" onclick="cancelorder('<%= order[index]._id %>','<%= index %>')" id="cancel<%= index %>" class="" style="background-color: #dc3545; color: #fff; font-size: 14px; border: none; padding: 8px 16px; border-radius: 4px;">Cancel order</button>
                                            <% } %>

                                            <button type="button" class="place-order" data-bs-toggle="modal" data-bs-target="#orderModal<%= index %>">View Details</button>
                                        </div>
                                    </div>
                                
                                    <!-- Modal -->
                                    <div class="modal fade" id="orderModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel<%= index %>" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="orderModalLabel<%= index %>">Order Details</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                       
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                              
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="40%">Product</th>
                                                                <th width="20%">Unit Price</th>
                                                                <th width="20%">Quantity</th>
                                                                <th width="20%" class="text-end">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% order[index].items.forEach(item=> { %>
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex flex-row gap-3"> <div class="">
                                                                        <a class="itemside" href="/product/<%= item.product._id %>">
                                                                           
                                                                                <img src="/imgs/uploads/<%= item.product.image[0]  %>" width="40" height="40" class="img-xs" alt="Item">
                                                                            </div>
                                                                            <div class="info"><%= item.product.name %>

                                                                        </a></div>
                                                                        <% if (order[index].orderStatus === 'delivered') { %>
                                                                            <div class="productRating" data-item-id="<%= item._id %>" data-rating="<%= item.rating !== undefined ? item.rating : 0 %>">
                                                                            </div>
                                                                        <% } %>
                                                                    </div>
                                                                    </td>
                                                                    <td> <%= item.product.price.toFixed(2) %> </td>
                                                                    <td> <%= item.count %> </td>
                                                                    <td class="text-end"><%= (item.productPrice *  item.count).toFixed(2) %> </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>Offer discount</td>
                                                                    <td class="text-end"><%= (item.offerPriceReduction *  item.count).toFixed(2) %> </td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>Coupon discount: </td>
                                                                    <td class="text-end"><%= (item.couponDiscountReduction *  item.count).toFixed(2) %> </td>
                                                                </tr>
                                                                <% }); %>
                                            
                                                                <td colspan="4">
                                                                    <article class="float-end">
                                                                        <dl class="dlist">
                                                                            <dt>Subtotal:</dt>
                                                                            <dd><%= order[index].totalAmountAfterDiscount.toFixed(2) %></dd>
                                                                        </dl>
                                                                        <!-- <dl class="dlist">
                                                                            <dt>Shipping cost:</dt>
                                                                            <dd>$10.00</dd>
                                                                        </dl> -->
                                                                        <dl class="dlist">
                                                                            <dt>Total after discount:</dt>
                                                                            <dd> <b class="h5"><%= order[index].totalAmountAfterDiscount.toFixed(2) %></b> </dd>
                                                                        </dl>
                                                                        <dl class="dlist">
                                                                            <dt class="text-muted">Status:</dt>
                                                                            <dd>
                                                                                <span class="badge rounded-pill alert-success text-success"><%= order[index].PaymentStatus %></span>
                                                                            </dd>
                                                                        </dl>
                                                                    </article>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div> 
                                                     
                                            </div>
                                                <div class="modal-footer">
                                                    <% if (order[index].orderStatus === 'canceled' || order[index].orderStatus === 'returned') { %>
                                                        <button  class="btn btn-dark" disabled>Order <%= order[index].orderStatus %></button>
                    
                                                    <% } %>
                                                    <% if (order[index].orderStatus !== 'canceled' && order[index].orderStatus !== 'returned' && order[index].orderStatus !== 'pending') { %>
                                                        <a type="button" href="/invoice?id=<%= order[index]._id %>" class="btn btn-success">Download Invoice</a>
                                                    <% } %>
                                                    <% if (order[index].orderStatus !== 'canceled' && order[index].orderStatus !== 'delivered' && order[index].orderStatus !== 'returned') { %>
                                                        <button type="button" onclick="cancelorder('<%= order[index]._id %>','<%= index %>')" id="cancel<%= index %>" class="btn btn-danger ">Cancel order</button>
                                                    <% } %>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-download">
                            <div class="my-account-download account-wrapper">
                                <h4 class="account-title">Wallet</h4>
                                <div id="wallet-data">
  <p><b></b> <span id="wallet-address"></span></p>
  <p><b>Account Balance: <%= Wallet.balance.toFixed(2) %></b> <span id="account-balance"></span></p>
  <p><b>Transaction History:</b></p>
  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                <th>Details</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < Wallet.transactions.length; i++) { %>
                <tr>
                    <td><%= Wallet.transactions[i].type.toUpperCase() %></td>
                    <td><%= Wallet.transactions[i].description %></td>
                    <td><%= Wallet.transactions[i].amount %></td>
                    <td><%= Wallet.transactions[i].timestamp.toLocaleDateString() %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

</div>
                                </div>
                            </div>
                       

                         <div class="tab-pane fade" id="pills-payment">
                            <div class="my-account-payment account-wrapper">
                                <h4 class="account-title">
                                    Edit address
                                </h4>
                                <form id="editAddressform" action="" method="post">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input type="text" id="name" name="name" placeholder="Name *" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <label class="form-label">Street address *</label>
                                                    <input type="text" id="street" name="street" placeholder="House number and street name" />
                                                    <input type="text" id="landmark" name="landmark" placeholder="Landmark" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-select2">
                                                    <div class="form-select2">
                                                        <select id="state" name="state" class="select2">
                                                            <option value="">Select state</option>
                                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                            <option value="Assam">Assam</option>
                                                            <option value="Bihar">Bihar</option>
                                                            <option value="Chandigarh">Chandigarh</option>
                                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                            <option value="Daman and Diu">Daman and Diu</option>
                                                            <option value="Delhi">Delhi</option>
                                                            <option value="Goa">Goa</option>
                                                            <option value="Gujarat">Gujarat</option>
                                                            <option value="Haryana">Haryana</option>
                                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                            <option value="Jharkhand">Jharkhand</option>
                                                            <option value="Karnataka">Karnataka</option>
                                                            <option value="Kerala">Kerala</option>
                                                            <option value="Ladakh">Ladakh</option>
                                                            <option value="Lakshadweep">Lakshadweep</option>
                                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                            <option value="Maharashtra">Maharashtra</option>
                                                            <option value="Manipur">Manipur</option>
                                                            <option value="Meghalaya">Meghalaya</option>
                                                            <option value="Mizoram">Mizoram</option>
                                                            <option value="Nagaland">Nagaland</option>
                                                            <option value="Odisha">Odisha</option>
                                                            <option value="Puducherry">Puducherry</option>
                                                            <option value="Punjab">Punjab</option>
                                                            <option value="Rajasthan">Rajasthan</option>
                                                            <option value="Sikkim">Sikkim</option>
                                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                                            <option value="Telangana">Telangana</option>
                                                            <option value="Tripura">Tripura</option>
                                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                            <option value="Uttarakhand">Uttarakhand</option>
                                                            <option value="West Bengal">West Bengal</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input id="city" name="city" type="text" placeholder="Town / City *" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input id="district" name="district" type="text" placeholder="District" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input id="zipcode" name="zipcode" type="text" placeholder="Postcode / ZIP" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input id="phonenumber" name="phonenumber"  type="text" placeholder="Phone *" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="single-form col-sm-4 ">
                                            <button class="btn btn-primary btn-hover-dark d-block" type="submit">Save address</button>
                                        </div>
                                    </div>
                                </form>
                                <p>
                                </p>
                            </div>
                        </div> 

                        <div class="tab-pane fade" id="pills-address">
                            <div class="my-account-address account-wrapper">
                                <div class="row">
                                    <% for( let i = 0; i < userData.addresses.length; i++ ) { %>

                                        <div class="col-md-4">
                                           
                                            <div class="account-address">
                                                <input name="default" oninput="changeAddress('<%= i %>')" <% if (i==0) { %>
                                                 checked
                                                <% } %>   type="radio"><label class="m-2" for="radio"><% if(i == 0){ %>
                                                    Default Address
                                                  <% } else{ %>
                                                    Make this default
                                                  <% } %></label> <a title="Edit address" class="mx-2" onclick="editAddress('<%= i %>',event)" href=""><i class="fa fa-edit"></i> </a>
                                                  <a title="Delete address" class="mx-2" onclick="deleteAddress('<%= i %>')" href=""><i class="fa fa-trash"></i> </a>
                                               
                                                <h4 class="account-title">
                                                    Address 
                                                </h4>
                                                <h6 class="name">
                                                    <%= userData.addresses[i].name %>
                                                </h6>
                                                <p>
                                                    <%= userData.addresses[i].street %>
                                                    <br />
                                                    <%= userData.addresses[i].landmark %>
                                                    <br>
                                                    <%= userData.addresses[i].city %>
                                                    <br>
                                                    <%= userData.addresses[i].district %>
                                                    <br>
                                                    <%= userData.addresses[i].state %>
                                                    <br>
                                                    <%= userData.addresses[i].postalCode %>


                                                </p>
                                                <p>Mobile: <%= userData.addresses[i].phone %>
                                                </p>
                                                
                                            </div>
                                        </div>

                                    <% } %>
                                    
                                    <div class="single-form checkbox-checkbox">
                                        <input type="checkbox" id="shipping"/>
                                        <label for="shipping">
                                            <span></span> Add new address</label>
                                    </div>
                                    <form action="/addadress" method="post">
                                    <div class="checkout-shipping">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                  
                                                    <input type="text" name="name" placeholder="Name *" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <label class="form-label">Street address *</label>
                                                    <input type="text" name="street" placeholder="House number and street name" />
                                                    <input type="text" name="landmark" placeholder="Landmark" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-select2">
                                                    <div class="form-select2">
                                                        <select name="state" class="select2">
                                                            <option value="">Select state</option>
                                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                            <option value="Assam">Assam</option>
                                                            <option value="Bihar">Bihar</option>
                                                            <option value="Chandigarh">Chandigarh</option>
                                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                            <option value="Daman and Diu">Daman and Diu</option>
                                                            <option value="Delhi">Delhi</option>
                                                            <option value="Goa">Goa</option>
                                                            <option value="Gujarat">Gujarat</option>
                                                            <option value="Haryana">Haryana</option>
                                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                            <option value="Jharkhand">Jharkhand</option>
                                                            <option value="Karnataka">Karnataka</option>
                                                            <option value="Kerala">Kerala</option>
                                                            <option value="Ladakh">Ladakh</option>
                                                            <option value="Lakshadweep">Lakshadweep</option>
                                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                            <option value="Maharashtra">Maharashtra</option>
                                                            <option value="Manipur">Manipur</option>
                                                            <option value="Meghalaya">Meghalaya</option>
                                                            <option value="Mizoram">Mizoram</option>
                                                            <option value="Nagaland">Nagaland</option>
                                                            <option value="Odisha">Odisha</option>
                                                            <option value="Puducherry">Puducherry</option>
                                                            <option value="Punjab">Punjab</option>
                                                            <option value="Rajasthan">Rajasthan</option>
                                                            <option value="Sikkim">Sikkim</option>
                                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                                            <option value="Telangana">Telangana</option>
                                                            <option value="Tripura">Tripura</option>
                                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                            <option value="Uttarakhand">Uttarakhand</option>
                                                            <option value="West Bengal">West Bengal</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input name="city" type="text" placeholder="Town / City *" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input name="district" type="text" placeholder="District" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input name="zipcode" type="text" placeholder="Postcode / ZIP" />
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="single-form">
                                                    <input name="phonenumber"  type="text" placeholder="Phone *" />
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="single-form col-sm-4 ">
                                            <button class="btn btn-primary btn-hover-dark d-block" type="submit">Save address</button>
                                        
                                        </div>

                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-account">
                            <div class="my-account-details account-wrapper">
                                <h4 class="account-title">
                                    Account Details
                                </h4>

                                <div class="account-details">
                                    <div class="row">
                                         
                                        <form id="updateDetailsForm" action="/updateDetails" method="POST">
                                            <div class="col-md-12">
                                               <a onclick="editUserDetails()" class="mt-4 mb-0">Edit <i class="fa fa-edit"></i></a>
                                                <div class="single-form">
                                                    <label for="name">Name:</label>
                                                    <input class="form-control" type="text" readonly id="userName" name="userName" value="<%= userData.name %>" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-form">
                                                    <label for="email">Email:</label>
                                                    <input class="form-control" id="oldEmail" type="email" readonly value="<%= userData.email %>" required>
                                                </div>
                                            </div>
                                           
                                            <div class="mb-3">
                                                <label for="" hidden class="form-label">Change Email address</label>
                                                
                                                <input type="email" hidden class="form-control" id="email" onblur="viewbutton()" aria-describedby="emailHelp"
                                                    required="true" value="<%= userData.email %>" name="email">
                                                
                                                <div id="emailHelp" class="form-text d-flex flex-col align-items-center justify-content-end">
                                                    <div class="form-text d-flex flex-col  align-items-center">
                                                        <div class=" " id="view" style="display: none;">
                                                            <div class="d-flex flex-col">
                                                
                                                                <input class="" type="text" id="otp" class="" placeholder="OTP" maxlength="5">
                                                                <button class="btn btn-primary btn-sm btn-hover-success p-1 mx-1" id="verify" onclick="verifyOTP()"
                                                                    type="button">Verify</button>
                                                            </div>
                                                            <div class=" d-flex flex-col  align-items-center " id="result"></div>
                                                        </div>
                                                        <div class="d-flex flex-col align-items-center" id="dummy">
                                                            <div class="form-text d-flex flex-col align-items-center mx-1" id="countdown"></div>
                                                            <button class="btn btn-primary btn-hover-secondary btn-sm p-1  m-1" id="collapse" style="display: none;"
                                                                type="button" onclick="sendOTP()">
                                                                Send OTP
                                                            </button>
                                                        </div>
                                                
                                                    </div>
                                                </div>
                                                </div>
                                              <div class="col-md-12">
                                                <div class="single-form">
                                                    <label for="phone">Phone:</label>
                                                    <input class="form-control" type="number" readonly id="phone" name="phone" value="<%= userData.phone %>" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-form">
                                                    <button id="submitButtonUpdate" hidden class="btn btn-primary btn-hover-success" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                     
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <h5 class="title">
                                                    Password change
                                                </h5>
                                            </div>
                                        </div>
                                        <form action="/changepassword" method="post">
                                            <input type="text" value="<%= userData._id %>" hidden   >
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <input id="oldpassword" type="password" name="oldpassword" placeholder="Current Password" />
                                            </div>
                                        </div>
                                        <div  class="mb-3">
                                            <label for="password" class="form-label">Password</label><% if (locals.resultpassword) { %>
                                              <span style="color: red; margin-left: 40%;"><%= resultpassword %></span><% } %>
                                            <input oninput="isstrong(this.value)" type="password" required="true" class="form-control" id="password" name="password" minlength="8">
                                            <span class="message" id="strong-password">
                                          </div>
                                          <div class="mb-3">
                                            <label for="confirmpassword" class="form-label">Confirm Password</label>
                                            <input type="password" required="true" class="form-control" id="confirmpassword" minlength="8" oninput="checkPasswordMatch()" name="confirmpassword">
                                            <div class="form-text" id="passwordMatchMessage"></div>
                                          </div>
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <button id="signupbtn" type="" onclick="changePassword(event)" class="btn btn-primary btn-hover-dark">
                                                    Save Change
                                                </button>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Tab content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- My Account Section End -->

    <%- include('footer.ejs') %>